body{
    background-color:rgb(68, 27, 27);
}

p{
    color:black;
    text-align:justify;
    font-style: oblique;
}

#assinatura{
    color: white;
}

header{
    margin-left: 29%;
    width:41.4%;
    font-style:oblique;
    color: white;
}


#Menu{
    background-color: white;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    overflow: visible;
        margin-left: 29%;
        width: 41.4%;
        height: 60%;

}

#Menu li{ /*posicionamento do LI no menu*/

    float:left;
}

#Menu li a{ /*decoração do LI no menu/
    display:block; /* o block "bloquia" o menu independente se eu mexer a tela*/
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}



#Menu li a:hover{
    transition:0.5s;
    color:white;
    background-color:rgb(68, 27, 27);

}

article{
    background-color: white; /*cor de fundo*/
    text-align: justify; /*alinhamento de texto*/
    width: 40.1%; /*largura do article*/
    padding: 10px;
    margin-left:29%
}

img{
    width:100%;
    display: block;
    margin-left: auto;
    margin-right:auto;
}

h1{
    margin:0px;
    text-align: center;
    font-family: arial;
}