body{
        padding: 0px;
        margin: 0px;

}

.container{
        display: flex;
        justify-content: center;
        margin: 50px;
        padding: 0px;
        width:100%;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
}

#header{
        display: flex;
        align-items: center;
}

#header img{
        position: relative;
        align-items: center;
}



#menu li{
        line-height: 1.17;
        padding: 16px;
        border-top: 0;
}

#image{
        width: 200px;
        height:200px;
        margin:10px;
        text-align: center;
        align-items: center;  /* vertical*/ 
        justify-content: center;   /* horizontal*/ 
        display: flex;
}

#menu{
        display: flex;
        flex-wrap: nowrap;
}

#menu ul{
        position:relative;
        height: 56px;
        display: flex;
        flex-direction: flex-start;
        padding: 0px;
        width:auto;
        margin:0px;
        transform: none;
        overflow: hidden;
        line-height: normal;
        list-style-type: none;
        text-decoration: none;
        
}

#menu li{
        line-height: 1.17;
        padding: 16px;
        border-top: 0;
    
        
}

@media screen and (max-width: 1450px) {
        #main{
                width:80%;
                font-size: 16px;
        }
        
}

@media screen and (max-width: 768px) {
        body{
                margin:0px;
                padding: 0px;
                background-image: none;

        }

        #main{
                margin:0px;
                padding:0px;
                width: 100%;
                font-size: 14px;
        }

        #content{
                display: block;
        }
}